<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        Direction Générale des Ressources en Eau      </div>
      <div class="card-body ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d950.0262038599265!2d10.172083949698221!3d36.78269210544614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd340704e7cda3%3A0x76f071fb2a49b8b3!2sDirection%20G%C3%A9n%C3%A9rale%20des%20Ressources%20en%20Eau!5e0!3m2!1sfr!2stn!4v1714332268087!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>

