<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Table
        </div>
        <div class="card-body">
          <!-- Section pour afficher les articles -->
          <div>
            <h2>Articles</h2>
            <div *ngIf="articles.length > 0; else noArticles">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    
                    <th>Title</th>
                    <th>Year</th>
                    <th>Publication</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let article of articles">
                    <td>{{ article.id }}</td>
                    <td>{{ article.title}}</td>
                    <td>{{ article.year}}</td>
                    <td>{{ article.publication}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #noArticles>
              <p>No articles found.</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
